@model List<BaiTapModel12>
<partial name="_Notification" />

<div class="row">
    <div class="col-md-6">
        <h2>LIST xuất kho</h2>

    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-success" asp-area="" asp-controller="BaiTap11" asp-action="Index">Back</a>
        <br>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Số Phiếu Xuất</th>
            <th>Sản Phẩm</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Ngày Xuất Kho</th>
            <th>Kho</th>
            <th>Ghi Chú</th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@(x.Bai11?.So_Phieu_Xuat_Kho ?? "N/A")</td>
            <td>@(x.Bai11_2?.sanpham?.Ten_San_Pham ?? "N/A")</td>
            <td>@string.Format("{0:#,##0}", (x.Bai11_2?.SL_Xuat ?? 0))</td>
            <td>@string.Format("{0:#,##0}", (x.Bai11_2?.Don_Gia_Xuat ?? 0))</td>
            <td>@(x.Bai11?.Ngay_Xuat_Kho.ToShortDateString() ?? "N/A")</td>
            <td>@(x.Bai11?.Kho?.Ten_Kho ?? "N/A")</td>
            <td>@(x.Bai11?.Ghi_Chu ?? "N/A")</td>
            <td>
                <a asp-action="Edit" asp-route-bai11Id="@x.Bai11.Id" asp-route-bai11_2Id="@x.Bai11_2.Id" class="btn btn-danger"> Edit</a>
                <a asp-controller="BaiTap13" asp-route-bai11Id="@x.Bai11.Id" asp-route-bai11_2Id="@x.Bai11_2.Id" class="btn btn-warning">Chi Tiết </a>
            </td>
        </tr>}
    </tbody>
</table>